* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: url("/html/pro/sherinsri.jpg");
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text {
  width: 500px;
  margin: 250px auto;

  padding: 10px 20px 30px;
  background-color: rgba(80, 80, 80, 0.5);
  color: #f3f3f3;

  border-radius: 11px;
}
.text h2 {
  color: #cfa9b4;
  text-align: center;
}

.text .lab {
  display: block;
}

.inp input {
  width: 100%;
  font-size: 1.4em;
  border: 1px solid gray;
  box-shadow: 2.5px;
  border-radius: 9px;

  padding: 9px 10px;
  box-sizing: border-box;

  margin: 5px 0px 10px;
}

input:focus {
  background-color: lavender;
}
.btn {
  text-align: center;
}
button {
  background-color: rgb(201, 152, 206);
  font-size: 20px;
  color: whitesmoke;
  margin-top: 40px;
  padding: 15px 25px;
  border-radius: 8px;
  border: 1px solid plum;
}

.rad input {
  accent-color: rgb(201, 152, 206);
  transform: scale(1.5);
  -ms-transform: scale(1.5);
  -webkit-transform: scale(1.5); /*  for web browser usecase */
}
